<?xml version="1.0"?>
<config>
	<modules>
		<Springbot_Combine>
			<version>1.4.5.0</version>
		</Springbot_Combine>
	</modules>
	<global>
		<models>
			<combine>
				<class>Springbot_Combine_Model</class>
				<resourceModel>combine_resource</resourceModel>
			</combine>
			<combine_resource>
				<class>Springbot_Combine_Model_Resource</class>
				<deprecatedNode>combine_mysql4</deprecatedNode>
				<entities>
					<redirect>
						<table>springbot_redirect</table>
					</redirect>
					<redirect_order>
						<table>springbot_redirect_order</table>
					</redirect_order>
					<trackable>
						<table>springbot_trackable</table>
					</trackable>
					<action>
						<table>springbot_actions</table>
					</action>
					<cron_queue>
						<table>springbot_cron_queue</table>
					</cron_queue>
					<cron_count>
						<table>springbot_cron_count</table>
					</cron_count>
				</entities>
			</combine_resource>
		</models>
		<helpers>
			<combine>
				<class>Springbot_Combine_Helper</class>
			</combine>
		</helpers>
		<resources>
			<combine_setup>
				<setup>
					<module>Springbot_Combine</module>
					<class>Springbot_Combine_Model_Resource_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</combine_setup>
			<combine_write>
				<connection>
					<use>core_write</use>
				</connection>
			</combine_write>
			<combine_read>
				<connection>
					<use>core_read</use>
				</connection>
			</combine_read>
		</resources>
	</global>
	<default>
		<springbot>
			<config>
				<segment_size>25</segment_size>
				<show_notifications>1</show_notifications>
				<remote_update>0</remote_update>
				<stability>stable</stability>
				<email_selector>billing:email,login-email,newsletter</email_selector>
				<email_selector_classes>validate-email</email_selector_classes>
				<sent_store_noemail>0</sent_store_noemail>
				<store_zero_alias>1</store_zero_alias>
			</config>
			<images>
				<use_cached_images>0</use_cached_images>
			</images>
			<debug>
				<log_format>default</log_format>
				<log_level>6</log_level>
				<pretty_print>0</pretty_print>
				<expire_time_days>10</expire_time_days>
				<filesize_limit>10000000</filesize_limit>
			</debug>
			<advanced>
				<harvester_type>cron</harvester_type>
				<max_jobs>10</max_jobs>
				<nice>0</nice>
				<nohup>0</nohup>
				<worker_count>2</worker_count>
				<sleep_interval>1</sleep_interval>
				<extended_config>0</extended_config>
				<product_url_type>default</product_url_type>
				<assets_domain>d2z0bn1jv8xwtk.cloudfront.net</assets_domain>
				<scrape_coupons>0</scrape_coupons>
				<max_job_time>60</max_job_time>
				<send_inventory>0</send_inventory>
			</advanced>
			<cart_restore>
				<do_restore>1</do_restore>
				<retain_coupon>1</retain_coupon>
			</cart_restore>
			<cron>
				<enabled>0</enabled>
				<max_jobs>10</max_jobs>
			</cron>
		</springbot>
	</default>
	<crontab>
		<jobs>
			<springbot_cron_worker>
				<schedule><cron_expr>* * * * *</cron_expr></schedule>
				<run><model>combine/cron_worker::cronRun</model></run>
			</springbot_cron_worker>
		</jobs>
	</crontab>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<springbot translate="title" module="combine">
											<title>Springbot</title>
										</springbot>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
