<?xml version="1.0"?>
<config>
    <modules>
	   <Springbot_Bmbleb>
            <active>true</active>
            <codePool>community</codePool>
        </Springbot_Bmbleb>
        <Springbot_BoneCollector>
            <active>true</active>
            <codePool>community</codePool>
        </Springbot_BoneCollector>
	    <Springbot_Combine>
            <active>true</active>
            <codePool>community</codePool>
        </Springbot_Combine>
	    <Springbot_Shadow>
            <active>true</active>
            <codePool>community</codePool>
        </Springbot_Shadow>
    </modules>
</config>
