<?xml version="1.0"?>
<config>
	<global>
		<models>
			<bonecollector>
				<class>Springbot_BoneCollector_Model</class>
			</bonecollector>
		</models>
		<events>
			<catalog_product_save_after>
				<observers>
					<springbot_bonecollector_product_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestProduct_Observer</class>
						<method>onProductSaveAfter</method>
					</springbot_bonecollector_product_observer>
				</observers>
			</catalog_product_save_after>
			<catalog_product_delete_before>
				<observers>
					<springbot_bonecollector_productdelete_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestProduct_Observer</class>
						<method>onProductDeleteBefore</method>
					</springbot_bonecollector_productdelete_observer>
				</observers>
			</catalog_product_delete_before>
			<catalog_category_save_after>
				<observers>
					<springbot_bonecollector_categorysave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCategory_Observer</class>
						<method>onCategorySaveAfter</method>
					</springbot_bonecollector_categorysave_observer>
				</observers>
			</catalog_category_save_after>
			<catalog_category_delete_after>
				<observers>
					<springbot_bonecollector_categorydelete_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCategory_Observer</class>
						<method>onCategoryDeleteAfter</method>
					</springbot_bonecollector_categorydelete_observer>
				</observers>
			</catalog_category_delete_after>
			<customer_save_after>
				<observers>
					<springbot_bonecollector_customersave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCustomer_Observer</class>
						<method>onCustomerSaveAfter</method>
					</springbot_bonecollector_customersave_observer>
				</observers>
			</customer_save_after>
			<customer_delete_before>
				<observers>
					<springbot_bonecollector_customerdelete_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCustomer_Observer</class>
						<method>onCustomerDeleteBefore</method>
					</springbot_bonecollector_customerdelete_observer>
				</observers>
			</customer_delete_before>
			<newsletter_subscriber_save_after>
				<observers>
					<springbot_bonecollector_subscribersave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestSubscriber_Observer</class>
						<method>onSubscriberSaveAfter</method>
					</springbot_bonecollector_subscribersave_observer>
				</observers>
			</newsletter_subscriber_save_after>
			<newsletter_subscriber_delete_before>
				<observers>
					<springbot_bonecollector_subscriberdelete_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestSubscriber_Observer</class>
						<method>onSubscriberDeleteBefore</method>
					</springbot_bonecollector_subscriberdelete_observer>
				</observers>
			</newsletter_subscriber_delete_before>


			<!-- Inventory update listeners -->
			<cataloginventory_stock_item_save_commit_after>
				<observers>
					<springbot_bonecollector_stockitemsavecommit_observer>
						<class>Springbot_BoneCollector_Model_HarvestInventoryItem_Observer</class>
						<method>onCatalogInventorySave</method>
					</springbot_bonecollector_stockitemsavecommit_observer>
				</observers>
			</cataloginventory_stock_item_save_commit_after>
			<sales_model_service_quote_submit_before>
				<observers>
					<springbot_bonecollector_quoteseubmit_observer>
						<class>Springbot_BoneCollector_Model_HarvestInventoryItem_Observer</class>
						<method>onQuoteSubmit</method>
					</springbot_bonecollector_quoteseubmit_observer>
				</observers>
			</sales_model_service_quote_submit_before>
			<sales_model_service_quote_submit_failure>
				<observers>
					<springbot_bonecollector_quotesubmitfailure>
						<class>Springbot_BoneCollector_Model_HarvestInventoryItem_Observer</class>
						<method>onQuoteSubmit</method>
					</springbot_bonecollector_quotesubmitfailure>
				</observers>
			</sales_model_service_quote_submit_failure>
			<sales_order_item_cancel>
				<observers>
					<springbot_bonecollector_stockupdate>
						<class>Springbot_BoneCollector_Model_HarvestInventoryItem_Observer</class>
						<method>onCancelOrderItem</method>
					</springbot_bonecollector_stockupdate>
				</observers>
			</sales_order_item_cancel>
			<sales_order_creditmemo_save_after>
				<observers>
					<springbot_bonecollector_stockupdate>
						<class>Springbot_BoneCollector_Model_HarvestInventoryItem_Observer</class>
						<method>onCreditmemoSave</method>
					</springbot_bonecollector_stockupdate>
				</observers>
			</sales_order_creditmemo_save_after>
			<!-- End inventory update listeners -->


		</events>
	</global>
	<frontend>
		<events>
			<sales_order_place_after>
				<observers>
					<springbot_bonecollector_purchase_action_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestPurchase_Observer</class>
						<method>onFrontendOrderPlaceAfter</method>
					</springbot_bonecollector_purchase_action_observer>
				</observers>
			</sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<springbot_bonecollector_purchase_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestPurchase_Observer</class>
						<method>onFrontendOrderSaveAfter</method>
					</springbot_bonecollector_purchase_observer>
				</observers>
			</sales_order_save_after>
			<sales_quote_save_after>
				<observers>
					<springbot_bonecollector_addtocart_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCart_Observer</class>
						<method>onFrontendQuoteSaveAfter</method>
					</springbot_bonecollector_addtocart_observer>
				</observers>
			</sales_quote_save_after>
			<checkout_cart_add_product_complete>
				<observers>
					<springbot_bonecollector_addskutocart_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCart_Observer</class>
						<method>onFrontendCartAddProduct</method>
					</springbot_bonecollector_addskutocart_observer>
				</observers>
			</checkout_cart_add_product_complete>
			<checkout_cart_update_items_before>
				<observers>
					<springbot_bonecollector_updatecart_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCart_Observer</class>
						<method>onFrontendCartUpdate</method>
					</springbot_bonecollector_updatecart_observer>
				</observers>
			</checkout_cart_update_items_before>
		</events>
	</frontend>
	<adminhtml>
		<events>
			<sales_order_save_after>
				<observers>
					<springbot_bonecollector_purchase_admin_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestPurchase_Observer</class>
						<method>onAdminOrderSaveAfter</method>
					</springbot_bonecollector_purchase_admin_observer>
				</observers>
			</sales_order_save_after>
			<catalog_entity_attribute_save_commit_after>
				<observers>
					<springbot_bonecollector_attribute_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestAttribute_Observer</class>
						<method>onAdminAttributeSaveAfter</method>
					</springbot_bonecollector_attribute_observer>
				</observers>
			</catalog_entity_attribute_save_commit_after>
			<eav_entity_attribute_save_commit_after>
				<observers>
					<springbot_bonecollector_attribute_set_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestAttribute_Observer</class>
						<method>onAdminAttributeSetSaveAfter</method>
					</springbot_bonecollector_attribute_set_observer>
				</observers>
			</eav_entity_attribute_save_commit_after>
			<salesrule_rule_save_after>
				<observers>
					<springbot_bonecollector_rulesave_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestRule_Observer</class>
						<method>onSalesruleRuleSaveAfter</method>
					</springbot_bonecollector_rulesave_observer>
				</observers>
			</salesrule_rule_save_after>
			<salesrule_rule_delete_before>
				<observers>
					<springbot_bonecollector_coupondelete_observer>
						<type>singleton</type>
						<class>Springbot_BoneCollector_Model_HarvestCoupon_Observer</class>
						<method>onSalesruleRuleDeleteBefore</method>
					</springbot_bonecollector_coupondelete_observer>
				</observers>
			</salesrule_rule_delete_before>
		</events>
	</adminhtml>
</config>
