<?xml version="1.0"?>
<config>
    <modules>
        <Exinent_ProductLock>
            <version>0.1.0</version>
        </Exinent_ProductLock>
    </modules>
    <global>
        <helpers>
            <productlock>
                <class>Exinent_ProductLock_Helper</class>
            </productlock>
        </helpers>
        <models>
            <productlock>
                <class>Exinent_ProductLock_Model</class>
                <resourceModel>productlock_resource</resourceModel>
            </productlock>
            <productlock_resource>
                <class>Exinent_ProductLock_Model_Resource</class>
                <entities>
                    <productlock>
                        <table>exinent_productlock</table>
                    </productlock>
                </entities>
            </productlock_resource>
        </models>
        <resources>
            <productlock_setup>
                <setup>
                    <module>Exinent_ProductLock</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productlock_setup>
            <productlock_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productlock_write>
            <productlock_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productlock_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Exinent_ProductLock before="Mage_Adminhtml">Exinent_ProductLock_Adminhtml</Exinent_ProductLock>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_edit_action>
                <observers>
                    <catalog_product_edit_action_handler>
                        <type>model</type>
                        <class>productlock/observer</class>
                        <method>lockProduct</method>
                    </catalog_product_edit_action_handler>
                </observers>
            </catalog_product_edit_action>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <product_grid_error_message>
                        <type>model</type>
                        <class>productlock/observer</class>
                        <method>displayError</method>
                    </product_grid_error_message>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <catalog_product_save_after>
                <observers>
                    <catalog_product_save_after_handler>
                        <type>model</type>
                        <class>productlock/observer</class>
                        <method>unlockProduct</method>
                    </catalog_product_save_after_handler>
                </observers>
            </catalog_product_save_after>
        </events>
        <layout>
            <updates>
                <productlock>
                    <file>productlock.xml</file>
                </productlock>
            </updates>
        </layout>    
    </adminhtml>    
    <crontab>
        <jobs>            
            <productlock_unlockproducts>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>productlock/cron::unlockProducts</model>
                </run>
            </productlock_unlockproducts>
        </jobs>
    </crontab>
</config> 