<?xml version="1.0"?>
<config>
	<modules>
		<Springbot_Shadow>
			<version>0.1.0</version>
		</Springbot_Shadow>
	</modules>
	<global>
		<models>
			<shadow>
				<class>Springbot_Shadow_Model</class>
			</shadow>
		</models>
		<helpers>
			<shadow>
				<class>Springbot_Shadow_Helper</class>
			</shadow>
		</helpers>
		<blocks>
			<shadow>
				<class>Springbot_Shadow_Block</class>
			</shadow>
		</blocks>
	</global>
	<frontend>
		<routers>
			<shadow>
				<use>standard</use>
				<args>
					<module>Springbot_Shadow</module>
					<frontName>springbot_update</frontName>
				</args>
			</shadow>
		</routers>
		<layout>
			<updates>
				<shadow>
					<file>shadow.xml</file>
				</shadow>
			</updates>
		</layout>
		<events>
			<controller_action_predispatch_checkout_cart_index>
				<observers>
					<springbot_shadow_observer>
						<type>singleton</type>
						<class>shadow/listeners_observer</class>
						<method>reconstituteCart</method>
					</springbot_shadow_observer>
				</observers>
			</controller_action_predispatch_checkout_cart_index>
		</events>
	</frontend>
</config>

