<?xml version="1.0"?>
<config>
    <modules>
        <Springbot_Bmbleb>
            <version>0.2.0</version>
        </Springbot_Bmbleb>
    </modules>
    <admin>
        <routers>
            <bmbleb>
                <use>admin</use>
                <args>
                    <module>Springbot_Bmbleb</module>
                    <frontName>bmbleb</frontName>
                </args>
            </bmbleb>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <springbot_bmbleb module="bmbleb">
                <title>Springbot</title>
                <sort_order>71</sort_order>
                <children>
                    <dashboard module="bmbleb">
                        <title>Dashboard</title>
                        <action>bmbleb/adminhtml_settings/index</action>
                    </dashboard>
                </children>
            </springbot_bmbleb>
        </menu>
        <acl>
            <resources>
                <all><title>Allow Everything</title></all>
                <admin>
                    <children>
                        <springbot_bmbleb translate="title" module="bmbleb">
                            <title>Springbot</title>
                            <sort_order>300</sort_order>
                            <children>
                                <dashboard translate="title" module="bmbleb">
                                    <title>Dashboard</title>
                                    <sort_order>10</sort_order>
                                </dashboard>
                            </children>
                        </springbot_bmbleb>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <bmbleb>
                    <file>bmbleb.xml</file>
                </bmbleb>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <bmbleb>
                <class>Sprigbot_Bmbleb_Model</class>
                <resourceModel>bmbleb_mysql4</resourceModel>
            </bmbleb>
            <bmbleb_mysql4>
                <class>Springbot_Bmbleb_Model_Mysql4</class>
            </bmbleb_mysql4>
        </models>
        <resources>
            <bmbleb_setup>
                <setup>
                    <module>Springbot_Bmbleb</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bmbleb_setup>
            <bmbleb_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bmbleb_write>
            <bmbleb_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bmbleb_read>
        </resources>
        <blocks>
            <bmbleb>
                <class>Springbot_Bmbleb_Block</class>
            </bmbleb>
        </blocks>
        <helpers>
            <bmbleb>
                <class>Springbot_Bmbleb_Helper</class>
            </bmbleb>
        </helpers>
    </global>
    <default>
        <bmbleb>
            <config>
            </config>
        </bmbleb>
    </default>
</config>

