<?xml version="1.0"?>
<config>
	<modules>
		<Itoris_ProductQa>
			<version>1.1.0</version>
		</Itoris_ProductQa>
	</modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <itoris_productqa before="Mage_Adminhtml">Itoris_ProductQa_Adminhtml</itoris_productqa>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--
	<admin>
		<routers>
			<itoris_productqa>
				<use>admin</use>
				<args>
					<module>Itoris_ProductQa</module>
					<frontName>itoris_productqa</frontName>
				</args>
			</itoris_productqa>
		</routers>
	</admin>
	-->
	<frontend>
		<routers>
			<itoris_productqa>
				<use>standard</use>
				<args>
					<module>Itoris_ProductQa</module>
					<frontName>itoris_productqa</frontName>
				</args>
			</itoris_productqa>
		</routers>
		<layout>
			<updates>
				<itoris_productqa>
					<file>itoris_productqa.xml</file>
				</itoris_productqa>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_ProductQa>
					<files>
						<default>Itoris_ProductQa.csv</default>
					</files>
				</Itoris_ProductQa>
			</modules>
		</translate>
	</frontend>
	<adminhtml>
		<menu>
			<system>
				<children>
					<itoris_extensions>
						<children>
							<itoris_productqa>
								<title>Product Questions/Answers</title>
								<action>adminhtml/itorisproductqa_settings/</action>
							</itoris_productqa>
						</children>
					</itoris_extensions>
				</children>
			</system>
			<catalog>
				<children>
					<itoris_productqa>
						<title>Product Q/A</title>
						<action>adminhtml/itorisproductqa_questions/</action>
						<children>
							<questions>
								<title>Questions</title>
								<action>adminhtml/itorisproductqa_questions/</action>
								<children>
									<pending>
										<title>Pending Questions</title>
										<action>adminhtml/itorisproductqa_questions/pending</action>
									</pending>
									<inappropriate>
										<title>Inappropriate Questions</title>
										<action>adminhtml/itorisproductqa_questions/inappr</action>
									</inappropriate>
									<not_answered>
										<title>Not Answered Questions</title>
										<action>adminhtml/itorisproductqa_questions/notAnswered</action>
									</not_answered>
									<all>
										<title>All Questions</title>
										<action>adminhtml/itorisproductqa_questions/</action>
									</all>
								</children>
							</questions>
						</children>
						<children>
							<answers>
								<title>Answers</title>
								<action>adminhtml/itorisproductqa_answers/</action>
								<children>
									<pending>
										<title>Pending Answers</title>
										<action>adminhtml/itorisproductqa_answers/pending</action>
									</pending>
									<inappropriate>
										<title>Inappropriate Answers</title>
										<action>adminhtml/itorisproductqa_answers/inappr</action>
									</inappropriate>
									<all>
										<title>All Answers</title>
										<action>adminhtml/itorisproductqa_answers/index</action>
									</all>
								</children>
							</answers>
						</children>
					</itoris_productqa>
				</children>
			</catalog>
		</menu>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<itoris_extensions>
									<children>
										<itoris_productqa>
											<title>Product Questions/Answers</title>
										</itoris_productqa>
									</children>
								</itoris_extensions>
							</children>
						</system>
						<catalog>
							<children>
								<itoris_productqa>
									<title>Product Questions/Answers</title>
									<children>
										<questions>
											<title>Questions</title>
											<children>
												<pending>
													<title>Pending Questions</title>
												</pending>
												<inappropriate>
													<title>Inappropriate Questions</title>
												</inappropriate>
												<not_answered>
													<title>Not Answered Questions</title>
												</not_answered>
												<all>
													<title>All Questions</title>
												</all>
											</children>
										</questions>
									</children>
									<children>
										<answers>
											<title>Answers</title>
											<children>
												<pending>
													<title>Pending Answers</title>
												</pending>
												<inappropriate>
													<title>Inappropriate Answers</title>
												</inappropriate>
												<all>
													<title>All Answers</title>
												</all>
											</children>
										</answers>
									</children>
								</itoris_productqa>
							</children>
						</catalog>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<itoris_productqa>
					<file>itoris_productqa.xml</file>
				</itoris_productqa>
			</updates>
		</layout>
		<translate>
			<modules>
				<Itoris_ProductQa>
					<files>
						<default>Itoris_ProductQa.csv</default>
					</files>
				</Itoris_ProductQa>
			</modules>
		</translate>
	</adminhtml>
	<global>
		<blocks>
			<itoris_productqa>
				<class>Itoris_ProductQa_Block</class>
			</itoris_productqa>
		</blocks>
		<models>
			<itoris_productqa>
				<class>Itoris_ProductQa_Model</class>
				<resourceModel>itoris_productqa_mysql4</resourceModel>
			</itoris_productqa>
			<itoris_productqa_mysql4>
				<class>Itoris_ProductQa_Model_Mysql4</class>
				<entities>
					<questions>
						<table>itoris_productqa_questions</table>
					</questions>
					<answers>
						<table>itoris_productqa_answers</table>
					</answers>
					<question_subscriber>
						<table>itoris_productqa_question_subscriber</table>
					</question_subscriber>
				</entities>
			</itoris_productqa_mysql4>
		</models>
		<helpers>
			<itoris_productqa>
				<class>Itoris_ProductQa_Helper</class>
			</itoris_productqa>
		</helpers>
		<resources>
            <itoris_productqa_setup>
                <setup>
                    <module>Itoris_ProductQa</module>
                    <class>Itoris_ProductQa_Model_Mysql4_Setup</class>
                </setup>
				<connection>
                    <use>core_setup</use>
                </connection>
            </itoris_productqa_setup>

			<itoris_productqa_write>
		        <connection>
		          <use>core_write</use>
		        </connection>
	        </itoris_productqa_write>

	       <itoris_productqa_read>
		        <connection>
		          <use>core_read</use>
		        </connection>
	       </itoris_productqa_read>
        </resources>
		<events>
			<adminhtml_controller_action_predispatch_start>
				<observers>
					<itoris_productqa>
						<model>itoris_productqa/observer</model>
						<method>replaceSecretKey</method>
					</itoris_productqa>
				</observers>
			</adminhtml_controller_action_predispatch_start>
		</events>
	</global>
</config>